<h1>Welcome to DownDraft</h1>
<br>
<h3>Meet the perfect beer for your next adventure. DownDraft recommends beer based on your destination's forecast and elevation.</h3>
<br>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<div class="google-btn">
  <a data-method="post" href="/auth/google_oauth2">
    <div class="google-icon-wrapper">
      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
    </div>
    <p class="btn-text"><b>Sign in with Google</b></p>
  </a>
</div>
<br>