/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* @import "bootstrap"; */

body{
  background-color: #5a5560;
  color: white;
  height: 89%;
}
html {
  height: 100%;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:11%;
    background:#FAED26;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    display: flex;
    margin-top: 2px;
    border-top: 5px solid rgb(189, 189, 189);
      /* background-image:url(img/global/footer.gif) scroll 50% 50%; */
    /* background-repeat: repeat-x; */
    /* background-position:bottom; */
}

img {
  height: 100px;
}

h1 {
 text-align: center;
}

h2 {
 text-align: center;
}

h3 {
 text-align: center;
}

.container-fluid {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

.page-box {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.weather-forecast {
 display: flex;
 flex-direction: row;
 justify-content: center;

}

.oneforecast {
 padding: 10px;
 justify-content: center;
 text-align: center;
}

#current-user-image {
 display: flex;
}

.new-trip {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  zoom: 160%;
}

.form_tag {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.form-submit{
  cursor: pointer;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 33px;
  padding-right: 100px;
}

.searchbar {
  display: flex;
  border-radius: 50%;
}
.searchbar-input {
  size: 100px;
  padding-left: 5px;
  font-size: 16px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.searchbar-button {
  margin-left: 4px;
  padding-left: 5px;  
  padding-right: 5px;  
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.lo {
  color: rgb(0, 162, 255);
}
.hi {
  color: rgb(255, 166, 0);
}

#name {
  color: #FAED26;
}

#beers-index {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  zoom: 130%;
  align-self: center;
}
table {
  width: 60%;
}
th {
  color: #FAED26;
  padding-bottom: 5px;
  border: 2px solid rgb(189, 189, 189);
  border-bottom: medium solid rgb(189, 189, 189);
  text-align: center;
  background-color: #39363d;
}

td {
  padding: 5px 5px 7px;
  border: 2px solid rgb(189, 189, 189);
  text-align: center;
}
#tdata:hover {
  background-color: #9d8d8f;
}
#tdesc:hover {
  background-color: #9d8d8f;
}
#tdesc {
  background-color: #39363d;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}